html {
    font-family: 'Noto Sans JP', Calibri, Arial, sans-serif;
    color: #2f2f2f;
    background-color: #f9f7f1;
    font-size: 1em;
    line-height: 1em;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container {
    margin: 0 auto;
 }

.content-table {
    color:#333333;
    width: 100%;
    border: thin solid #315334;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
}
.content-table>tbody>tr>td,
.content-table>thead>tr>th {
    padding: 10px;
    font-size: 0.9em;
    position: relative;
    border: thin solid #315334;
}
.content-table>thead>tr,
.content-table>thead>tr:hover {
    position: relative;
    border: thin solid #315334;
}
.content-table>thead>tr>th {
    color: #fff;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    border: thin solid #315334;
}
.content-table>tbody>tr:hover {
    padding: 20px;
    background-color: #ffa !important;
}
.content-table thead tr th:first-child::before {
    content: "";
    position: absolute;
    background-color: #39603d;
    top: 0;
    left: -100vw;
    width: 200vw;
    height: 100%;
    z-index: -10;
}
.content-table tr:nth-child(even) td:first-child::before,
.content-table tr:nth-child(odd) td:first-child::before {
    content: "";
    position: absolute;
    background-color: #daded4;
    top: 0;
    left: -100vw;
    width: 200vw;
    height: 100%;
    z-index: -10;
}
.content-table tr:nth-child(odd) td:first-child::before {
    background-color: #a3bcb6;
}
.content-table td:hover::after,
.content-table th:hover::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 0, 0.5);
    border: thin solid #315334;
    left: 0;
    top: -100vh;
    height: 200vh;
    width: 100%;
    z-index: -1;
}

.form-wrapper {
    padding: 8px 8px;
    margin: 8px 8px;
}
.form-wrapper input {
    margin: 4px;
}
.content-table tbody tr {
    display: none;
}

input#d-all:checked ~ input#h-all:checked ~ input#c-all:checked ~ .content-table tbody tr,
input#d-all:checked ~ input#h-all:checked ~ input#c-1:checked ~ .content-table tbody tr.category-first,
input#d-all:checked ~ input#h-all:checked ~ input#c-2:checked ~ .content-table tbody tr.category-second,

input#d-all:checked ~ input#am:checked ~ input#c-all:checked ~ .content-table tbody tr.hours-am,
input#d-all:checked ~ input#am:checked ~ input#c-1:checked ~ .content-table tbody tr.hours-am.category-first,
input#d-all:checked ~ input#am:checked ~ input#c-2:checked ~ .content-table tbody tr.hours-am.category-second,

input#d-all:checked ~ input#pm:checked ~ input#c-all:checked ~ .content-table tbody tr.hours-pm,
input#d-all:checked ~ input#pm:checked ~ input#c-1:checked ~ .content-table tbody tr.hours-pm.category-first,
input#d-all:checked ~ input#pm:checked ~ input#c-2:checked ~ .content-table tbody tr.hours-pm.category-second,

input#day:checked ~ input#h-all:checked ~ input#c-all:checked ~ .content-table tbody tr.work-days-weekdays,
input#day:checked ~ input#h-all:checked ~ input#c-1:checked ~ .content-table tbody tr.work-days-weekdays.category-first,
input#day:checked ~ input#h-all:checked ~ input#c-2:checked ~ .content-table tbody tr.work-days-weekdays.category-second,

input#day:checked ~ input#am:checked ~ input#c-all:checked ~ .content-table tbody tr.work-days-weekdays.hours-am,
input#day:checked ~ input#am:checked ~ input#c-1:checked ~ .content-table tbody tr.work-days-weekdays.hours-am.category-first,
input#day:checked ~ input#am:checked ~ input#c-2:checked ~ .content-table tbody tr.work-days-weekdays.hours-am.category-second,

input#day:checked ~ input#pm:checked ~ input#c-all:checked ~ .content-table tbody tr.work-days-weekdays.hours-pm,
input#day:checked ~ input#pm:checked ~ input#c-1:checked ~ .content-table tbody tr.work-days-weekdays.hours-pm.category-first,
input#day:checked ~ input#pm:checked ~ input#c-2:checked ~ .content-table tbody tr.work-days-weekdays.hours-pm.category-second,

input#end:checked ~ input#h-all:checked ~ input#c-all:checked ~ .content-table tbody tr.work-days-weekends,
input#end:checked ~ input#h-all:checked ~ input#c-1:checked ~ .content-table tbody tr.work-days-weekends.category-first,
input#end:checked ~ input#h-all:checked ~ input#c-2:checked ~ .content-table tbody tr.work-days-weekends.category-second,

input#end:checked ~ input#am:checked ~ input#c-all:checked ~ .content-table tbody tr.work-days-weekends.hours-am,
input#end:checked ~ input#am:checked ~ input#c-1:checked ~ .content-table tbody tr.work-days-weekends.hours-am.category-first,
input#end:checked ~ input#am:checked ~ input#c-2:checked ~ .content-table tbody tr.work-days-weekends.hours-am.category-second,

input#end:checked ~ input#pm:checked ~ input#c-all:checked ~ .content-table tbody tr.work-days-weekends.hours-pm,
input#end:checked ~ input#pm:checked ~ input#c-1:checked ~ .content-table tbody tr.work-days-weekends.hours-pm.category-first,
input#end:checked ~ input#pm:checked ~ input#c-2:checked ~ .content-table tbody tr.work-days-weekends.hours-pm.category-second {
    display: table-row;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}
.btn-success {
    background-color: #315334;
    border: 2px solid #315334;
    color: white;
}
.btn-large {
    padding: 8px;
}
.btn-success:hover {
    background-color: white;
    border: 2px solid #315334;
    color: #315334;
 }

.table-wrapper input#d-all:checked ~ .manage-table label.days-all,
.table-wrapper input#day:checked ~ .manage-table label.weekdays,
.table-wrapper input#end:checked ~ .manage-table label.weekends,
.table-wrapper input#h-all:checked ~ .manage-table label.hours-all,
.table-wrapper input#am:checked ~ .manage-table label.am,
.table-wrapper input#pm:checked ~ .manage-table label.pm,
.table-wrapper input#c-all:checked ~ .manage-table label.category-all,
.table-wrapper input#c-1:checked ~ .manage-table label.first,
.table-wrapper input#c-2:checked ~ .manage-table label.second {
    background-color: #315334;
    border: 2px solid #315334;
    color: white;
}
.table-wrapper input#d-all:not(:checked) ~ .manage-table label.days-all,
.table-wrapper input#day:not(:checked) ~ .manage-table label.weekdays,
.table-wrapper input#end:not(:checked) ~ .manage-table label.weekends,
.table-wrapper input#h-all:not(:checked) ~ .manage-table label.hours-all,
.table-wrapper input#am:not(:checked) ~ .manage-table label.am,
.table-wrapper input#pm:not(:checked) ~ .manage-table label.pm,
.table-wrapper input#c-all:not(:checked) ~ .manage-table label.category-all,
.table-wrapper input#c-1:not(:checked) ~ .manage-table label.first,
.table-wrapper input#c-2:not(:checked) ~ .manage-table label.second {
    background-color: #daded4;
    border: 2px solid #a3bcb6;
    color: #315334;
}

input.valid {
    display: block;
}
input.phone:valid + input.email:valid ~ input.btn-success {
    display: inline-block !important;
}

.manage-table {
    display: grid;
    grid-template-columns: 12px 1.5fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: calc(1.4em + 16px) calc(1.4em + 16px) calc(1.4em + 16px);
    gap: 12px 12px;
    grid-template-areas:
    ". title days days days days ."
    ". . hours hours hours hours ."
    ". . category category category category .";
    margin-bottom: 0.5em;
}
.title {
    grid-area: title;
    font-size: 0.9em;
    line-height: 1.5em;
}
.days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 12px;
    grid-template-areas:
    "days-title days-all weekdays weekends";
    grid-area: days;
}
.days-title { grid-area: days-title; }
.days-all { grid-area: days-all; }
.weekdays { grid-area: weekdays; }
.weekends { grid-area: weekends; }
.hours {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 12px;
    grid-template-areas:
    "hours-title hours-all am pm";
    grid-area: hours;
}
.hours-title { grid-area: hours-title; }
.hours-all { grid-area: hours-all; }
.am { grid-area: am; }
.pm { grid-area: pm; }
.category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 12px;
    grid-template-areas:
    "category-title category-all first second";
    grid-area: category;
}
.second { grid-area: second; }
.first { grid-area: first; }
.category-all { grid-area: category-all; }
.category-title { grid-area: category-title; }
.days-all, .weekdays, .weekends,
.hours-all, .am, .pm,
.category-all, .first, .second {
    cursor: pointer;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}
/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media all and (-ms-high-contrast:none) {

    .manage-table {
        display: -ms-grid;
        -ms-grid-columns: 12px 1.5fr 1fr 1fr 1fr 1fr 12px;
        -ms-grid-rows: 50px 50px 50px;
        gap: 12px 12px;
    }

    .title {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .days {
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 1fr;
        gap: 0 12px;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 5;
    }

    .days-title {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .days-all {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
    }

    .weekdays {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
    }

    .weekends {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 4;
        -ms-grid-column-span: 4;
    }

    .hours {
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 1fr;
        gap: 0 12px;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 4;
    }

    .hours-title {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .hours-all {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
    }

    .am {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
    }

    .pm {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 4;
        -ms-grid-column-span: 4;
    }

    .category {
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 1fr;
        gap: 0 12px;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 3;
    }

    .second {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 4;
        -ms-grid-column-span: 4;
    }

    .first {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
    }

    .category-all {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
    }

    .category-title {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

}

