html {
    font-family: 'Droid Serif', serif;
    color: #222;
    font-size: 1em;
    background-color: #f9f7f1;
    line-height: 1.4;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container {
    margin: 0 auto;
 }
.grid-container {
    display: grid;
    grid-template-columns: 0.5em 1fr 1fr 1fr 1fr 1fr 0.5em;
    grid-template-rows: auto auto auto;
    gap: 0.8em 0.8em;
    grid-template-areas:
    "header header header header header header header"
    ". head-runner head-runner head-runner head-runner head-runner ."
    ". articles articles articles articles articles .";
}
.header {
    display: grid;
    grid-template-columns: 0.5em 1fr 1fr 1fr 1fr 1fr 0.5em;
    grid-template-rows: auto;
    gap: 0.8em 0.8em;
    grid-template-areas:
    ". controls title title title . .";
    grid-area: header;
}
.controls {
    grid-area: controls;
    position: relative;
    width: auto;
    left: 10px;
    border: 3px double #2f2f2f;
    padding: 10px 15px 10px 15px;
    margin-top: 4px;
}
label[for]:hover {
    cursor: pointer;
    display: inline-block;
}
.title {
    grid-area: title;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 5.5em;
    text-transform: uppercase;
    text-align: center;
}
.head-runner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.8em 0.8em;
    grid-template-areas:
    "title-runner title-runner title-runner title-runner title-runner";
    grid-area: head-runner;
}
.title-runner {
    grid-area: title-runner;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
}
.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em 2em;
    grid-template-areas:
    "column--1 column--2 column--3 column--4 column--5";
    grid-area: articles;
}
.column--1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content min-content auto;
    gap: 0.5em 0;
    grid-template-areas:
    "article-name--1"
    "article-subtitle--1"
    "article--1"
    "free-space--1";
    grid-area: column--1;
}
[class^="article-name-"],
[class^="article-subtitle-"]{
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.article-name--1 {
    grid-area: article-name--1;
    font-weight: 400;
    font-style: italic;
    font-size: 2.5em;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.article-subtitle--1 {
    grid-area: article-subtitle--1;
    font-weight: 700;
    font-size: 0.9em;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    text-align: center;
}
.article-subtitle--1:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.article-subtitle--1:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}
.article--1 p:first-of-type::first-letter {
    float: left;
    font-size: 3.433em;
    color: red;
    padding: 0 4px 0 0;
    font-family: Georgia, serif;
}
.article--1 {
    grid-area: article--1;
    text-align: justify;
}
.free-space--1 { grid-area: free-space--1; }
.column--2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content min-content auto;
    gap: 0.5em 0;
    grid-template-areas:
    "article-name--2"
    "article-subtitle--2"
    "article--2"
    "free-space--2";
    grid-area: column--2;
}
.article-name--2 {
    grid-area: article-name--2;
    font-weight: 400;
    font-size: 3em;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    text-align: center;
}
.article-subtitle--2 {
    grid-area: article-subtitle--2;
    font-weight: 400;
    font-size: 1.1em;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    text-align: center;
}
.article-subtitle--2:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.article-subtitle--2:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}
.article--2 {
    grid-area: article--2;
    text-align: justify;
}
[class^=free-space-] {
    background: repeating-linear-gradient(
            -45deg,
            rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.15) 10px,
            rgba(0, 0, 0, 0) 10px,
            rgba(0, 0, 0, 0) 20px
    );
    margin-bottom: 1.3em;
}
.free-space--2 { grid-area: free-space--2; }
.column--3 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content min-content auto;
    gap: 0.5em 0;
    grid-template-areas:
    "article-name--3"
    "article-subtitle--3"
    "article--3"
    "free-space--3";
    grid-area: column--3;
}
.article-name--3 {
    grid-area: article-name--3;
    font-weight: 700;
    font-size: 1.9em;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}
.article-subtitle--3 {
    grid-area: article-subtitle--3;
    font-weight: 400;
    font-style: italic;
    font-size: 2em;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.article-subtitle--3:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.article-subtitle--3:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 0.8em;
    display: block;
    margin: 0 auto;
}
.article--3 {
    grid-area: article--3;
    text-align: justify;
}
.free-space--3 { grid-area: free-space--3; }
.column--4 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content min-content auto;
    gap: 0.5em 0;
    grid-template-areas:
    "article-name--4"
    "article-subtitle--4"
    "article--4"
    "free-space--4";
    grid-area: column--4;
}
.article-name--4 {
    grid-area: article-name--4;
    font-weight: 400;
    font-style: italic;
    font-size: 2.7em;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.article-subtitle--4 {
    grid-area: article-subtitle--4;
    font-weight: 700;
    font-size: 0.9em;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.article-subtitle--4:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.article-subtitle--4:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}
.article--4 {
    grid-area: article--4;
    text-align: justify;
}
.free-space--4 { grid-area: free-space--4; }
.column--5 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content min-content auto;
    gap: 0.5em 0;
    grid-template-areas:
    "article-name--5"
    "article-subtitle--5"
    "article--5"
    "free-space--5";
    grid-area: column--5;
}
.article-name--5 {
    grid-area: article-name--5;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}
.article-subtitle--5 {
    grid-area: article-subtitle--5;
    font-weight: 700;
    font-size: 0.9em;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.article-subtitle--5:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.article-subtitle--5:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}
.article--5 { grid-area: article--5; }
.free-space--5 { grid-area: free-space--5; }
.figure {
    margin: 0 0 20px;
}
.figcaption{
    font-style: italic;
    font-size: 0.8em;
}
.media {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
    width: 100%;
}
.citation {
    font-family: 'Playfair Display', serif;
    font-size: 2.3em;
    line-height: 1.5em;
    font-style: italic;
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 40px 0 40px 0;
    font-feature-settings: "liga", "dlig";

}
.citation:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}
.citation:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}
input#font-size-lg:checked ~ .grid-container [class^=article--] {
    font-size: 1.5em;
}
input#font-sans-serif:checked ~ .grid-container [class^=article--] {
    font-family: "Noto Sans JP", sans-serif;
}
input#font-size-lg:checked + input#font-sans-serif:checked ~ .grid-container [class^=article--] {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.5em;
}
input#style-inverse:checked ~ .grid-container {
    background-color: #2f2f2f;
    color: #f9f7f1;
}
input#style-inverse:checked ~ .grid-container .title-runner,
input#style-inverse:checked ~ .grid-container .citation:after,
input#style-inverse:checked ~ .grid-container .citation:before,
input#style-inverse:checked ~ .grid-container [class^=article-subtitle--]:after,
input#style-inverse:checked ~ .grid-container [class^=article-subtitle--]:before,
input#style-inverse:checked ~ .grid-container .controls {
    border-color: #f9f7f1;
}
input#style-inverse:checked ~ .grid-container .media {
    mix-blend-mode: lighten;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}
/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}



