* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    font-family: 'Noto Sans JP', Calibri, Arial, sans-serif;
    color: #2f2f2f;
    background-color: #f9f7f1;
    font-size: 1em;
    line-height: 1em;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* CAROUSEL */
.carousel {
    position: relative;
    width: 916px;
    margin: 20px auto;
}
.carousel-item {
    position:absolute;
    top: 0;
    width: 916px;
    height: 229px;
    /*opacity: 0;*/
    visibility: hidden;
    transition: 0.8s;
}
.item--1,
#s1:target ~ .item--1,
#s2:target ~ .item--2,
#s3:target ~ .item--3 {
    z-index: 2;
    /*opacity: 1;*/
    visibility: visible;
}
.carousel-pic {
    display: inline-block;
    margin-right: -3px;
}
[class^=img] {
    width: 229px;
    height: 229px;
    background-size: 229px;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.img1 {
    background-image: url("../img/Screenshot_2021-03-31 Blackberry Mascarpone Tart with Thyme Shortbread Crust.png");
}
.img2 {
    background-image: url("../img/Screenshot_2021-03-31 French Spring Soup.png");
}
.img3 {
    background-image: url("../img/Screenshot_2021-03-31 Homemade Miso Soup.png");
}
.img4 {
    background-image: url("../img/Screenshot_2021-03-31 Coconut-Caramel Shrimp.png");
}
.img5 {
    background-image: url("../img/Screenshot_2021-03-31 Shrimp and Broccoli.png");
}
.img6 {
    background-image: url("../img/Screenshot_2021-03-31 Jambalaya(2).png");
}
.img7 {
    background-image: url("../img/Screenshot_2021-03-31 Panang Curry with Chicken.png");
}
.img8 {
    background-image: url("../img/Screenshot_2021-03-31 Portuguese Custard Tarts - Pasteis de Nata.png");
}
.img9 {
    background-image: url("../img/Screenshot_2021-03-31 Slow Cooker Spanish Beef Stew(1).png");
}
.img10 {
    background-image: url("../img/Screenshot_2021-03-31 Spicy Potato Soup II.png");
}
.img11 {
    background-image: url("../img/Screenshot_2021-03-31 Stir Fried Sesame Vegetables with Rice.png");
}
.img12 {
    background-image: url("../img/Screenshot_2021-03-31 15 of the Worlds Best Savory Beef Stew Recipes.png");
}
/* DROPDOWNS */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: -1px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 229px;
    min-height: 229px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin-top: -1px;
    z-index: 2;
}
.dropdown-content p {
    word-wrap: break-word;
}
.dropdown-content p a {
    color: #000080;
    text-decoration: underline dashed #000080;
}
.dropdown-content p a:hover {
    color: #27831d;
}
label[for^="img"]:hover + .dropdown-content,
.dropdown-content:hover {
    display: block;
    z-index: 3;
}
/* PREV/NEXT, CONTAINERS & ANCHORS */
.carousel .prev-next {
    position: absolute;
    z-index: 2;
    top: calc(229px / 2);
    width: 100%;
    height: 0;
}
.carousel .prev-next > div+div {
    visibility: hidden;
}
.carousel .prev-next a {
    background: #fff;
    position: absolute;
    width:       60px;
    height:      60px;
    line-height: 60px;
    text-align: center;
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}
.carousel .prev-next a:hover {
    opacity: 1;
}
.carousel .prev-next a+a {
    left: auto;
    right: 0;
}

/* NAVIGATION */
.carousel .bullets {
    position: absolute;
    z-index: 2;
    top: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}
.carousel .bullets > a {
    display: inline-block;
    width:       30px;
    height:      30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    background: rgba(255, 225, 225, 1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.carousel .bullets > a + a {
    background: rgba(255, 225, 225, 0.5);
}
.carousel .bullets > a:hover {
    background: rgba(255, 225, 225, 0.7) !important;
}
/* NAVIGATION BUTTONS */
[id^=s]:target ~ .bullets > * { background: rgba(255, 225, 225, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets > *:nth-child(1) {background: rgba(255, 225, 225, 1);}
#s2:target ~ .bullets > *:nth-child(2) {background: rgba(255, 225, 225, 1);}
#s3:target ~ .bullets > *:nth-child(3) {background: rgba(255, 225, 225, 1);}

/* PREV/NEXT CONTAINERS VISIBILITY */
[id^=s]:target ~ .prev-next > * { visibility: hidden; }
/* ACTIVE: */
#s1:target ~ .prev-next > *:nth-child(1) {visibility: visible;}
#s2:target ~ .prev-next > *:nth-child(2) {visibility: visible;}
#s3:target ~ .prev-next > *:nth-child(3) {visibility: visible;}

.carousel .bullets a,
.carousel .prev-next a {
    border-radius: 50%;
    margin: 0 3px;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
[id^=img]:not(:checked) ~ [class="item--"] .carousel-pic [class^="img--"] {
    display: none;
    z-index: -1;
}
#img1:checked ~ .item--1 .carousel-pic .img--1,
#img2:checked ~ .item--1 .carousel-pic .img--2,
#img3:checked ~ .item--1 .carousel-pic .img--3,
#img4:checked ~ .item--1 .carousel-pic .img--4,
#img5:checked ~ .item--2 .carousel-pic .img--5,
#img6:checked ~ .item--2 .carousel-pic .img--6,
#img7:checked ~ .item--2 .carousel-pic .img--7,
#img8:checked ~ .item--2 .carousel-pic .img--8,
#img9:checked ~ .item--3 .carousel-pic .img--9,
#img10:checked ~ .item--3 .carousel-pic .img--10,
#img11:checked ~ .item--3 .carousel-pic .img--11,
#img12:checked ~ .item--3 .carousel-pic .img--12 {
    display: block;
    z-index: 100;
}
#img1:checked ~ .prev-next, #img1:checked ~ .bullets,
#img2:checked ~ .prev-next, #img2:checked ~ .bullets,
#img3:checked ~ .prev-next, #img3:checked ~ .bullets,
#img4:checked ~ .prev-next, #img4:checked ~ .bullets,
#img5:checked ~ .prev-next, #img5:checked ~ .bullets,
#img6:checked ~ .prev-next, #img6:checked ~ .bullets,
#img7:checked ~ .prev-next, #img7:checked ~ .bullets,
#img8:checked ~ .prev-next, #img8:checked ~ .bullets,
#img9:checked ~ .prev-next, #img9:checked ~ .bullets,
#img10:checked ~ .prev-next, #img10:checked ~ .bullets,
#img11:checked ~ .prev-next, #img11:checked ~ .bullets,
#img12:checked ~ .prev-next, #img12:checked ~ .bullets {
    z-index: 1;
}
[id^=close]:checked ~ [class^="item--"] .carousel-pic .modal {
    display: none;
    z-index: -1;
}
[id^=close]:checked ~ .bullets, [id^=close]:checked ~ .prev-next {
    z-index: 2;
}
/* Modal Content (image) */
.modal-content {
    margin: -50px auto 20px auto;
    display: block;
    width: 75rem;
    max-width: 700px;
    min-height: 700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.img1.modal-content, .img2.modal-content, .img3.modal-content, .img4.modal-content,
.img5.modal-content, .img6.modal-content, .img7.modal-content, .img8.modal-content,
.img9.modal-content, .img10.modal-content, .img11.modal-content, .img12.modal-content {
    background-size: cover;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}
/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
