* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    font-family: 'Noto Sans JP', Calibri, Arial, sans-serif;
    color: #2f2f2f;
    background-color: #f9f7f1;
    font-size: 1em;
    line-height: 1em;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.carousel {
    position: relative;
    overflow-x: hidden;
    height: 229px;
    max-width: 916px;
    margin: 20px auto;
}

/* SLIDER */
.carousel .slider {
    height: 229px;
    white-space: nowrap;
    font-size: 0;
    transition: 0.8s;
}

/* SLIDES */
.carousel .slider > * {
    font-size: 1rem;
    display: inline-block;
    /*white-space: normal;*/
    vertical-align: top;
    height: 229px;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */
.carousel .prev-next {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    height: 0;
}

.carousel .prev-next > div+div {
    visibility: hidden;
}

.carousel .prev-next a {
    background: #fff;
    position: absolute;
    width:       60px;
    height:      60px;
    line-height: 60px;
    text-align: center;
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}
.carousel .prev-next a:hover {
    opacity: 1;
}
.carousel .prev-next a+a {
    left: auto;
    right: 0;
}

/* NAVIGATION */
.carousel .bullets {
    position: absolute;
    z-index: 2;
    top: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}
.carousel .bullets > a {
    display: inline-block;
    width:       30px;
    height:      30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    background: rgba(255, 0, 0, 1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.carousel .bullets > a+a {
    background: rgba(255, 0, 0, 0.5);
}
.carousel .bullets > a:hover {
    background: rgba(255, 0, 0, 0.7) !important;
}

/* NAVIGATION BUTTONS */
.carousel >s:target ~ .bullets >* {      background: rgba(255, 0, 0, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 0, 0,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 0, 0,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 0, 0,   1);}

/* PREV/NEXT CONTAINERS VISIBILITY */
.carousel >s:target ~ .prev-next >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prev-next >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prev-next >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prev-next >*:nth-child(3) {visibility: visible;}

/* SLIDER ANIMATION POSITIONS */
#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}

.carousel a {
    border-radius: 50%;
    margin: 0 3px;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}
.slider img {
    width: 229px;
    height: 229px;
    border: 0;
    margin: 0;
    white-space: unset;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}
/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
